<h1>Add Patients</h1>

<%= form_with model: @patient, url: patients_path do |form| %>
  <div>
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.text_field :age, type: 'number' %>
  </div>
  <%= form.submit "Add Patient" %>
<% end %>
